# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!setup.sh
!Vagrantfile

!/bin/
!/apps
!/apps/.gitkeep
!/clouds
!/clouds/.gitkeep
!/data
!/data/.gitkeep
!/envs
!/envs/.gitkeep
!/pods
!/pods/.gitkeep
!/w
!/w/.gitkeep
!/linux.code-workspace
